@import '../../styles/colors.scss';

button, .button {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 12px;
    background-color: $primary;
    color: $white;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        background-color: $hover;
    }

    ._primary {
        color: $primary;
    }
    ._secondary {
        color: $secondary;
    }
    ._negative {
        color: $negative;
    }

    ._flat {
        background-color: transparent;
        color: $primary;

        &:hover {
            opacity: 0.8;
        }

        ._primary {
            color: $primary;
        }
        ._secondary {
            color: $secondary;
        }
        ._negative {
            color: $negative;
        }
    }

    ._round {
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }
}
