$primary: #39A2DB;
$secondary: #34a69a;
$negative: #DF5E5E;
$primary-bg: #E8F0F2;
$banner-bg: #A2DBFA;
$white: #fff;
$hover: #43BDFF;
$border: #EAEAEA;
$ordinary-text: #1E1E1E;
$secondary-text: #999999;
$fill-space: #efefef;
$aside: #fbfbfb;
