$primary-color: #39a2db;
$secondary-color: #34a69a;
$negative-color: #df5e5e;
$primary-bg-color: #e8f0f2;
$banner-bg-color: #999;
$white-color: #fff;
$hover-color: #43bdff;
$border-color: #eaeaea;
$ordinary-text-color: #1e1e1e;
$secondary-text-color: #999;
$fill-space-color: #efefef;
$aside-color: #fbfbfb;
