$primary-color: #39A2DB;
$secondary-color: #34a69a;
$negative-color: #DF5E5E;
$primary-bg-color: #E8F0F2;
$banner-bg-color: #A2DBFA;
$white-color: #fff;
$hover-color: #43BDFF;
$border-color: #EAEAEA;
$ordinary-text-color: #1E1E1E;
$secondary-text-color: #999999;
$fill-space-color: #efefef;
$aside-color: #fbfbfb;
