@import '../../styles/colors';

.icon {
  display: inline-block;

  .-negative {
    color: $negative-color;
  }

  .-primary {
    color: $primary-color;
  }

  .-secondary {
    color: $secondary-color;
  }

  .ordinary-text {
    color: $ordinary-text-color;
  }

  .-secondary-text {
    color: $secondary-text-color;
  }
}
