@import "../../styles/colors.scss";
@import "../../styles/index.scss";

label {
  input {
    font-size: 13px;
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }
}

.unauth-input {
  label,
  input {
    display: block;
    width: 100%;
  }

  label {
    color: $secondary-text-color;
    font-size: 9px;
    font-weight: 300;
    margin-bottom: 16px;
  }

  input {
    border-bottom: 1px solid $border-color;
    padding-bottom: 7px;
    padding-top: 5px;

    &:focus,
    &:focus-visible {
      border-bottom-color: $hover-color;
    }
  }
}

.profile-input {
  border-bottom: 1px solid $border-color;
  padding: 10px 0;

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: $ordinary-text-color;

    input {
      font-size: 13px;
      color: $secondary-text-color;
      text-align: right;
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

._error {
  label{
    color: $negative-color !important;
  }

  input {
    color: $negative-color;
    border-color: $negative-color !important;
  }
}
